body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #001f3f, #000);
  font-family: 'Orbitron', sans-serif;
}

video {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
